/*
	Estilis de las tablas donde se muestran los formularios de Administración.
*/
.fondo{
    
		background-color: #284b63;
}

.tablaAdminPelicula{
	background-color: #F4F9E9;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;

}
th, td {
    border-bottom: 1px solid #ddd;
}
.tablaAdminPelicula_th{
    height: 50px;
}
label{    
    text-align: left;
}